In [1]:
from rdmpy import RDM
# Set global metadata variables
RDM.meta(mysource="github/thiesgehrmann/rdmpy/example.ipynb")

filename = './anywhere/you/want/your_new_file.csv'

In [2]:
# Some data we want to write
import pandas as pd
D = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['a','b','c'])

D

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# Write it within a with clause
with RDM(filename, 'w') as ofd:
    D.to_csv(ofd, index=False)
#ewith

# Write it within a with clause, but do it to the last version of the file, and update the modified timestamp
with RDM(filename, 'rw') as ofd:
    D.to_csv(ofd, index=False)
#ewith

# Write it within a with clause, but do it to the last version of the file, and do NOT update the modified timestamp
with RDM(filename, 'rw', modified=False) as ofd:
    D.to_csv(ofd, index=False)
#ewith

In [4]:
# If we want to open the most recent file, we can do that by explicitly setting the read flag.
with RDM(filename, 'r') as ifd:
    X = pd.read_csv(ifd)
#ewith

X

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9